@import "reset";
@import "normalize";

/* Main */
body {
	background-color: #222831;
}

/* Footer */
footer {
	border-top: 2px solid #e2e2e2;
  	padding: 5px 0px;

  ul {
  		margin-right: 5px;

  	li {
  			float: right;
  			margin: 10px;
    }
 	}
}

.fab /* clase iconos */ {
  	color: #fff; 
}

/* header */

header {
  nav {
    background-color: #000;
  }
	
  ul {
		li { 
			a {
 				color: #fff;
 				/* cambiar color despues*/
  				font-family: 'Oswald', sans-serif;
  				font-weight: 300;
  				transition: color 0.5s;
  				font-size: 20px; 
  			}

      a:hover {
           color: #ff2121;
      }
  	}
  }
}  		

#navbar__menu__icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar__logo:hover {
  animation-name: shake-logo;
  animation-duration: 0.75s; }

/* animaciones */
@keyframes shake-logo {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(5deg); }
  50% {
    transform: rotate(-5deg); }
  75% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0deg); } }
